link(rel='stylesheet' href='/stylesheets/leaflet.css')
script(src='/javascripts/leaflet-src.js')
script(type='text/javascript' src='/javascripts/virtualjoystick.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.14/d3.js')
script(src="javascripts/moment2_24_0.min.js")
script(src="javascripts/chart2_8_0.js")
//script(src="javascripts/chart2_9_3.js") //geeft stortterend beeld
script(src="javascripts/chartjs-plugin-streaming1_8_0")
script(src="https://unpkg.com/vue@2.6.14/dist/vue.js")
//script(src="javascripts/NMEAsimTom.js")
//script(src="javascripts/jsoneditor.min.js")