
.dropdown
  button.btn.btn-secondary.dropdown-toggle(id='dropdownMenuButton' data-bs-toggle='dropdown' aria-expanded='false') Dropdown button
  ul(class='dropdown-menu' aria-labelledby='dropdownMenuButton')
    li 
      a.dropdown-item(href='#') Action
    li 
      a.dropdown-item(href='#') Another action
    li
      a.dropdown-item(href='#') Something else here