extends indexLayout 
  
block content
  //cc:1_OpstartenServer#7; laad layout
  //h1= title
  //p Welcome to #{title}
  #containerMain
  .row
    //button(type='button' id='RPiAfsluiten' class='btn btn-primary') RPI afsluiten
    button(type='button' id='simulatie' class='btn btn-primary') Simulatie
  #joystickResult
  h1 {{ message }}
  